PKG_NAME="{{ name }}"
PKG_DIR="{{ package_dir }}"

VIRTUALENV="{{ virtualenv }}"
BASE_DIR=${VIRTUALENV}

if [ ! -z "${VIRTUALENV}" ]
   	then
    	echo "creating virtualenv for ${PKG_NAME} modules..."
		# sudo mkdir -p ${VIRTUALENV}
		sudo virtualenv ${VIRTUALENV}
fi
echo "unpacking ${PKG_NAME}..."
# sudo tar -C ${BASE_DIR}/ -xvf ${PKG_DIR}/${PKG_NAME}.tar.gz
sudo mv ${PKG_DIR}/* ${VIRTUALENV}
# sudo rm -rf ${VIRTUALENV}/${PKG_DIR}/