PKG_NAME="{{ name }}"
PKG_DIR="{{ package_dir }}"

VIRTUALENV="{{ virtualenv }}"

if [ ! -z "${VIRTUALENV}" ]
   	then
    	echo "creating virtualenv for ${PKG_NAME} modules..."
    	# sudo mkdir -p ${VIRTUALENV}
    	sudo virtualenv ${VIRTUALENV}
fi
echo "installing requirements in virtual env..."
sudo ${VIRTUALENV}/bin/pip install --no-index --process-dependency-links --find-links="${PKG_DIR}" ${PKG_DIR}/*.*
