PKG_NAME="{{ name }}"
PKG_DIR="{{ package_dir }}"

VIRTUALENV="{{ virtualenv }}"

if [ ! -z "${VIRTUALENV}" ]
   	then
    	echo "creating virtualenv for ${PKG_NAME} modules..."
		sudo mkdir -p ${VIRTUALENV}
fi
sudo virtualenv ${VIRTUALENV}
echo "installing requirements in virtual env..."
sudo ${VIRTUALENV}/bin/pip install --no-index --find-links="${PKG_DIR}" ${PKG_DIR}/*.tar.gz