# replaces management__worker
HOME_DIR="/opt/celery"
WORKER_MODIFIER="{{ celery_agent.ubuntu.worker_modifier }}"

export BROKER_URL="{{ celery_agent.ubuntu.broker_url }}"
export MANAGEMENT_USER="{{ celery_agent.ubuntu.management_user }}"
export HOME=${HOME_DIR}
export MANAGER_REST_PORT="{{ celery_agent.ubuntu.manager_rest_port }}"
export MANAGEMENT_IP="{{ celery_agent.ubuntu.management_ip }}"
export CELERY_WORK_DIR="${HOME_DIR}/cloudify.${WORKER_MODIFIER}/work"
export IS_MANAGEMENT_NODE="{{ celery_agent.ubuntu.is_management_node }}"
export AGENT_IP="{{ celery_agent.ubuntu.agent_ip }}"
export VIRTUALENV="${HOME_DIR}/cloudify.${WORKER_MODIFIER}/env"

INCLUDES=plugin_installer.tasks,kv_store.tasks,worker_installer.tasks
CELERYD_MULTI="${VIRTUALENV}/bin/celeryd-multi"
CELERYD_USER="root"
CELERYD_GROUP="root"
CELERY_TASK_SERIALIZER="json"
CELERY_RESULT_SERIALIZER="json"
CELERY_RESULT_BACKEND="amqp://"
DEFAULT_PID_FILE="${HOME_DIR}/cloudify.${WORKER_MODIFIER}/work/cloudify.agent_worker.pid"
DEFAULT_LOG_FILE="${HOME_DIR}/cloudify.${WORKER_MODIFIER}/work/cloudify.agent_worker.log"
CELERYD_OPTS="--events --loglevel=debug --app=cloudify --include=${INCLUDES} -Q cloudify.management --broker=amqp:// --hostname=cloudify.management"