CELERY_BASE_DIR="{{ config_templates.__params_conf.base_dir }}"

# replaces management__worker
WORKER_MODIFIER="{{ celery_agent.ubuntu.worker_modifier }}"

export BROKER_URL="{{ celery_agent.ubuntu.broker_url }}"
export MANAGEMENT_USER="{{ celery_agent.ubuntu.management_user }}"
export HOME={{ celery_agent.ubuntu.home_dir }}
export MANAGER_REST_PORT="{{ config_templates.__params_conf.rest_port }}"
export MANAGEMENT_IP="{{ celery_agent.ubuntu.management_ip }}"
export CELERY_WORK_DIR="${CELERY_BASE_DIR}/cloudify.${WORKER_MODIFIER}/work"
export IS_MANAGEMENT_NODE="{{ celery_agent.ubuntu.is_management_node }}"
export AGENT_IP="{{ celery_agent.ubuntu.agent_ip }}"
export VIRTUALENV="${CELERY_BASE_DIR}/cloudify.${WORKER_MODIFIER}/env"

INCLUDES=plugin_installer.tasks,kv_store.tasks,worker_installer.tasks
CELERYD_MULTI="${VIRTUALENV}/bin/celeryd-multi"
CELERYD_USER="{{ celery_agent.ubuntu.celery_user }}"
CELERYD_GROUP="{{ celery_agent.ubuntu.celery_group }}"
CELERY_TASK_SERIALIZER="json"
CELERY_RESULT_SERIALIZER="json"
CELERY_RESULT_BACKEND="amqp://"
DEFAULT_PID_FILE="${CELERY_WORK_DIR}/cloudify.agent_worker.pid"
DEFAULT_LOG_FILE="${CELERY_WORK_DIR}/cloudify.agent_worker.log"
CELERYD_OPTS="--events --loglevel=debug --app=cloudify --include=${INCLUDES} -Q cloudify.management --broker=amqp:// --hostname=cloudify.management"
