FROM {{ image.repository }}:{{ image.tag }}
MAINTAINER {{ maintainer.name }}, {{ maintainer.email }}
# ------------------------------------------------------------------------------------------------------------------------------------------ #
# INSTALL - BASE
# ------------------------------------------------------------------------------------------------------------------------------------------ #
# add utility functions
ADD utils/ /opt/tmp/utils/
ADD NOTICE.txt /root/license
# Used by 'cfy status' impl to determine if running in container.
ENV DOCKER_ENV True

RUN apt-get update
# ------------------------------------------------------------------------------------------------------------------------------------------ #
# INSTALL - RABBITMQ, DependsOn: ~
# ------------------------------------------------------------------------------------------------------------------------------------------ #
##### ENV #####
ENV RABBITMQ_SERVICE_NAME {{ rabbitmq.service_name }}
ENV RABBITMQ_SERVICE_DIR /etc/service/$RABBITMQ_SERVICE_NAME
ENV RABBITMQ_RUN_FILE $RABBITMQ_SERVICE_DIR/run
##### ENV #####
# add run scripts and configuration
ADD rabbitmq/ $RABBITMQ_SERVICE_DIR/

RUN echo installing rabbitmq dependencies && \
    apt-get install -y {% for dep in rabbitmq.reqs %} {{ dep }}{% endfor %} && \
    \
    echo installing rabbitmq-server and setting its properties && \
    apt-get -y install rabbitmq-server && \
    rabbitmq-plugins enable rabbitmq_management && \
    rabbitmq-plugins enable rabbitmq_tracing && \
    \
    echo granting exec permissions && \
    chmod +x $RABBITMQ_RUN_FILE