FROM {{ image.repository }}:{{ image.tag }}
MAINTAINER {{ maintainer.name }}, {{ maintainer.email }}
# ------------------------------------------------------------------------------------------------------------------------------------------ #
# INSTALL - BASE
# ------------------------------------------------------------------------------------------------------------------------------------------ #
# add utility functions
COPY utils/ /opt/tmp/utils/
COPY NOTICE.txt /root/NOTICE.txt
# Used by 'cfy status' impl to determine if running in container.
ENV DOCKER_ENV True

# ------------------------------------------------------------------------------------------------------------------------------------------ #
# INSTALL - RABBITMQ, DependsOn: ~
# ------------------------------------------------------------------------------------------------------------------------------------------ #
##### ENV #####
ENV RABBITMQ_SERVICE_NAME {{ rabbitmq.service_name }}
ENV RABBITMQ_SERVICE_DIR /etc/service/$RABBITMQ_SERVICE_NAME
ENV RABBITMQ_RUN_FILE $RABBITMQ_SERVICE_DIR/run
##### ENV #####
# add run scripts and configuration
COPY rabbitmq/ $RABBITMQ_SERVICE_DIR/

RUN apt-get update && \
    # installing rabbitmq dependencies
    apt-get install -y {% for dep in rabbitmq.reqs %} {{ dep }}{% endfor %} && \
    # installing rabbitmq-server and setting its properties
    apt-get -y install rabbitmq-server && \
    rabbitmq-plugins enable rabbitmq_management && \
    rabbitmq-plugins enable rabbitmq_tracing && \
    # granting exec permissions
    chmod +x $RABBITMQ_RUN_FILE

EXPOSE 5672